.section-light {
    background-color: #fff;
    padding-top: 48px;
    padding-bottom: 80px;
    max-width: 1372px;
    margin: auto;
}
.section-dark {
    background-color: #f4ede4;
    padding-top: 48px;
    padding-bottom: 80px;
}
.section-center {
    text-align: center;
}
.title {
    font-size: 50px;
    font-weight: 700;
    margin-top: 41px;
    margin-bottom: 30px;
    line-height: 60px;
    text-align: center;
}
.side-title {
    text-align: left;
}
.sub-title {
    margin-bottom: 16px;
    font-weight: 400;
    line-height: 1.4444;
    text-align: center;
}
.content {
    text-align: left;
    margin-bottom: 32px;
    font-weight: 400;
    line-height: 1.333;
    margin-top: 0;
}
.content-list {
    list-style-type: none;
}
.content-list li {
    margin-bottom: 16px;
}
.content-list li i {
    color: #611f69;
    margin-right: 10px;
}
.content-container {
    max-width: 492px;
}
.count-list {
    list-style-type: none;
    margin-left: 205px;
    text-align: justify;
}
.count-list li  {
    float: left;
    margin: 110px;
    margin-top: 20px;
    margin-bottom : 30px;
}
.count-content span {
    font-size: 64px;
    font-weight: bold;
}
#get-started p{
    margin-left: 90px;
    margin-right: 35px;
    font-size: 15px;
}
#get-started i{
    font-size: 35px;
    margin-left: 90px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.role-cards {
    background-color: #fff;
    margin: 7px;
    padding: 10px;
    min-width: 275px;
    min-height: 220px;
}
.role-cards i {
    font-size: 30px;
    margin-top: 15px;
}
.role-card-link {
    text-align: right;
}
.learn-more-card {
    background-color: white;
    box-shadow: 0px 0px 10px 5px whitesmoke;
    padding: 10px;
    margin-left: 85px;
    border: 2px solid white;
    width: 264px;
    min-height: 400px;
}

